---
import { ClientRouter } from "astro:transitions";
---
<html>
<head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>Transition Persistence Test</title>
    <!--<meta name="title" content={title} />-->
    <!--<meta name="description" content={description} />-->
    <ClientRouter></ClientRouter>
</head>
<body>
<slot/>
</body>
</html>
