---
import Directory from "../../components/Directory.astro";
import Default from "../../layouts/default.astro";
import { links } from "../../model/site/astro.ts";
---
<Default>
    <a href="/">Back</a>
    <Directory entries = {links} />
</Default>